.sidebar {
    margin: 1rem;
}
    .sidebar .section-name {
        color: #51586a;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 85%;
        letter-spacing: 1px;
    }

#folder-input {
    width: 80%;
}
#save-folder {
    color: #51586a;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 1.9rem 0;
    float: right;
}

#folders-container li .remove,
#folders-container li .edit {
    display: none;
}
