{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/bookmark/list.css' %}"  media="screen, projection"/>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    window.config = {};
    window.config.csrf_token = '{{ csrf_token }}';
    window.config.bookmarksApi = "{% url 'bookmark-list' %}";
    window.config.foldersApi = "{% url 'folder-list' %}";
</script>
<!-- Models and collections -->
<script type="text/javascript" src="{% static 'js/bookmark/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bookmark/models.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bookmark/collections.js' %}"></script>
<!-- Bookmark JS --->
<script type="text/javascript" src="{% static 'js/bookmark/views/bookmarks.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bookmark/views/folders.js' %}"></script>
<!-- App Initializer -->
<script type="text/javascript" src="{% static 'js/bookmark/app.js' %}"></script>
{% endblock %}

{% block content %}
<div id="bookmarks-area"></div>
<div id="menu-area"></div>

<script id='bookmarks-template' type="text/template">
    <div class="row" id="bookmarks-container"></div>
</script>
<script id="bookmark-template" type="text/template">
    <div class="card" style="overflow: hidden;">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="<%= thumbnail %>">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= title %></span>
            <p><a href="<%= url %>" target="_blank"><%= url %></a></p>
        </div>

        <div class="card-action">
            <span class="light"><%= folder_name %></span>
            <a href="#" class="blue-grey-text activator open-menu"><i class="material-icons right">more_vert</i></a>
        </div>

        <div class="card-reveal" style="display: none; transform: translateY(0px);">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <div class="input-field">
                <select class="browser-default">
                    <% _.each(folders, function(fld) { %>
                        <option value="<%= fld.id %>" <% if (fld.id == folder) { %> selected="selected" <% } %>>
                            <%= fld.name %>
                        </option>
                    <% }); %>
                </select>
                <label class="blue-text text-darken-3 active">Move to</label>
            </div>
            <a href="#" class="remove-bookmark red-text">remove bookmark</a>
        </div>
    </div>
</script>
{% endblock %}
