<div class="sidebar col s12 m12 l2">
    <div id="folders-area"></div>
    <ul>
        <li><a href="{% url 'settings' %}" class="blue-grey-text text-darken-1 section-name">SETTINGS</a></li>
        <li><a href="https://twitter.com/omaribannez/" class="blue-grey-text text-darken-1 section-name">CONTACT</a></li>
        <li><a href="{% url 'logout' %}" class="blue-grey-text text-darken-1 section-name">LOGOUT</a></li>
    </ul>
</div>


<script id='folders-template' type="text/template">
    <div class='sidebar-header'>
        <h5 class="section-name">
            Folders
            <a href="#" class="grey-text text-darken-2" id="toggle-folder-form">
                <i class="material-icons tiny">add</i>
            </a>
        </h5>
        <div id="folder-form-section" style="display:none;">
            <input type="text" class="white-text" id="folder-input" />
            <a href="#" id="save-folder">add</a>
        </div>
    </div>
    <a href="#" class="white-text light" id="show-all">All</a>
    <ul id="folders-container"></ul>
</script>


<script id="folder-template" type="text/template">
    <a class="white-text light name" href="#"><%= name %></a>
    <div class="edit-form">
        <input type="text" class="white-text edit-folder-input">
        <a href="#" class="edit-folder blue-text">edit</a>
        <a href="#" class="cancel-edit-folder red-text">cancel</a>
    </div>
    <div class="options">
        <a href="#" class="edit"><i class="material-icons tiny white-text">edit</i></a>
        <a href="#" class="remove"><i class="material-icons tiny white-text">clear</i></a>
    </div>
</script>
