{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Guardalo</title>
        <!-- CSS  -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/vendor/materialize/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/common/common.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/common/login.css' %}"  media="screen,projection"/>
    </head>
    <body class="dark-background">
        <!-- Main container -->
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username" autocomplete="off"/>
                            <input id="id_password" name="password" type="password" placeholder="Password" />
                            {% if form.errors %}
                                <p class="red-text darken-1">Your username and password didn't match. Please try again.</p>
                            {% endif %}
                            <a href="{% url 'register' %}" class="light blue-grey-text left">register</a>
                            <input type="hidden" name="next" value="{{ next }}" />
                            <button type="submit" class="btn waves-effect waves-light blue darken-0 right">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
