Django==1.9
Markdown==2.6.6
Pillow==3.2.0
argparse==1.2.1
beautifulsoup4==4.4.1
django-extensions==1.6.6
django-filter==0.13.0
djangorestframework==3.3.3
gunicorn==19.4.3
metadata-parser==0.6.16
psycopg2==2.6.1
requests==2.10.0
six==1.10.0
wheel==0.24.0
wsgiref==0.1.2
